/********** General ************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    border: none;
    cursor: pointer;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
}

/************ Header ***************/
header {
    width: 100%;
    background-color: white;
    padding: 0 80px;
}

header > div {
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
}

header .logo {
    width: 130px;
}

header .left {
    display: flex;
    align-items: center;
    gap: 50px;
}

header .search {
    border: 1px solid gray;
    border-radius: 20px;
    display: flex;
    padding: 0 5px;
    padding-right: 18px;
    align-items: center;
    gap: 10px;
    background-color: white;
    width: 500px;
    justify-content: space-between;
}

header .search input {
    padding: 12px;
    border-radius: 20px;
    border:none;
    width: 100%;
    outline: none;
}

header .shop {
    display: flex;
    align-items: center;
    gap: 15px;
}

header .shop span {
    color: rgb(38, 194, 38);
}

header .shop img {
    width: 22px;
    height: 22px;
}

nav {
    padding-bottom: 20px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}


nav ul a {
    color: gray;
    text-transform: uppercase;
}

header .top {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    top: 0;
    left: 0;    
    transform: translateY(-100%);
    transition: transform 1s;
    background-color: white;
    padding: 10px 40px;
    z-index: 3;
}

header .top button {
    background-color: transparent;
    width: 30px;
    height: 30px;
}

header .toggle {
    display: none;
    width: 30px;
    background-color: transparent;
}

/********* Menu ***********/
.menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.3);
    width: 100%;
    height: 100vh;
    visibility: hidden;
}

.menu.active {
    visibility: visible;
    z-index: 4;
}

.menu > div {
    width: 300px;
    height: 100%;
    background-color: white;
    padding: 20px;
    position: relative;
    transform: translateX(-100%);
    transition: transform 1s;
}

.menu > div.active {
    transform: none;
}

.menu h2 {
    text-align: center;
}

.menu .search {
    border: 1px solid gray;
    border-radius: 20px;
    display: flex;
    padding: 0 5px;
    padding-right: 18px;
    align-items: center;
    gap: 10px;
    background-color: white;
    width: 100%;
    justify-content: space-between;
    margin: 15px 0;
}

.menu .search input {
    padding: 9px;
    border-radius: 20px;
    border:none;
    outline: none;
}

.menu li {
    border-bottom: 1px solid gray;
}

.menu li a {
    display: block;
    padding: 10px 0;
    color: black;
}

.menu .redes {
    margin: 30px 0;
}

.menu .close {
    position: absolute;
    right: 10px;
    top: 20px;
    width: 28px;
}

/******** Info ********/
.info {
    width: 85%;
    margin: 40px auto;
    text-align: center;
}

.info h1 {
    font-size: 45px;
    color:rgb(184, 6, 74);
}

.info > span {
    font-size: 18px;
    margin: 20px auto;
    width: 70%;
    display: block;
}

.info > div {
    display: flex;
    text-align: center;
}

.info > div div {
    flex: 1;
    padding: 30px 40px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.info h2 {
    font-size: 30px;
}

.info > div div:first-child {
    background-color: rgb(214, 214, 12);
}

.info > div div:nth-child(2) {
    background-color: rgb(37, 66, 197);
}

.info > div div:nth-child(3) {
    background-color: rgb(39, 156, 15);
}

/********** Formulario **************/
.formulario {
    display: flex;
    width: 85%;
    margin: 60px auto;
    gap: 40px;
}

.formulario form, .formulario iframe {
    width: 50%;
}

.formulario input, .formulario label, .formulario textarea, .formulario button {
    width: 100%;
    display: block;
}

.formulario input, .formulario button {
    height: 50px;
    padding: 0 10px;
}

.formulario input {
    margin-bottom: 20px;
    margin-top: 12px;
}

.formulario textarea {
    padding: 15px 0 0 10px;
}

.formulario button {
    border-radius: 20px;
    margin-top: 20px;
    color: white;
    font-size: 17px;
    background-color: rgb(184, 6, 74);
}

/*********** Footer ***********/
footer {
    width: 100%;
    border-top: 1px solid rgb(230, 226, 226);
    padding: 40px 20px;
    text-align: center;
    line-height: 30px;
}

footer a {
    color: black;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

footer ul li a {
    border-left: 1px solid gray;
    padding-left: 5px;
}

footer .redes {
    margin-top: 15px;
}

@media (max-width: 1000px) {
    /************* Header ***********/
    header {
        padding: 0 20px;
    }
    header .toggle {
        display: block;
    }
    nav, header .shop a:first-child, header .shop a:nth-child(2), header .search {
        display: none;
    }

    header > div {
        padding: 10px 0;
    }

    header .top {
        padding: 10px 20px;
    }
}

@media (max-width: 870px) {
    /********** Formulario **********/
    .formulario {
        flex-direction: column;
    }

    .formulario form, .formulario iframe {
        width: 100%;
    }

    /******** Info **********/
    .info, .info > span {
        width: 90%;
    }
}

@media (max-width: 790px) {
    /******** Info *********/
    .info {
        width: 100%;
    }
    .info > div {
        flex-direction: column;
        margin-top: 50px;
    }

    /********* Formulario *********/
    .formulario {
        width: 90%;
    }

    .formulario button {
        margin-top: 40px;
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    /*********** Menu ***********/
    .menu div {
        width: 100%;
    }

    /******** Info *********/
    .info h1 {
        font-size: 40px;
    }

    .info h2 {
        font-size: 30px;
    }
}